Playbooks/MDCADataLeakTest/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "MDCADataLeakTest",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]",
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]",
        "Office365usersConnectionName":  "[concat('Office365users-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "For_each":  {
                            "foreach":  "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions":  {
                                "Get_manager_(V2)":  {
                                    "runAfter":  {
                                        "Get_user_profile_(V2)":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['office365users']['connectionId']"
                                            }
                                        },
                                        "method":  "get",
                                        "path":  "/codeless/v1.0/users/@{encodeURIComponent(items('For_each')?['properties']?['compromisedEntity'])}/manager"
                                    }
                                },
                                "Get_user_profile_(V2)":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['office365users']['connectionId']"
                                            }
                                        },
                                        "method":  "get",
                                        "path":  "/codeless/v1.0/users/@{encodeURIComponent(items('For_each')?['properties']?['compromisedEntity'])}"
                                    }
                                },
                                "Send_email_with_options":  {
                                    "runAfter":  {
                                        "Get_manager_(V2)":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnectionWebhook",
                                    "inputs":  {
                                        "body":  {
                                            "Message":  {
                                                "Body":  "Hello, This mail has been triggered because the user @{body('Get_manager_(V2)')?['displayName']} has performed a 'Mass Download' activity where 70 downloads has been performed within 1 minute on @{triggerBody()?['object']?['properties']?['createdTimeUtc']}. Please select an appropriate action to proceed:",
                                                "HideHTMLMessage":  true,
                                                "Importance":  "Normal",
                                                "Options":  "Confirm this activity to be legitimate or pre-approved, Suspend the user account, Escalate",
                                                "ShowHTMLConfirmationDialog":  true,
                                                "Subject":  "@{body('Get_manager_(V2)')?['displayName']} has performed a suspicious activity",
                                                "To":  "@{body('Get_user_profile_(V2)')?['mail']}@{body('Get_manager_(V2)')?['mail']}"
                                            },
                                            "NotificationUrl":  "@{listCallbackUrl()}"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "path":  "/mailwithoptions/$subscriptions"
                                    }
                                },
                                "Switch":  {
                                    "runAfter":  {
                                        "Send_email_with_options":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "cases":  {
                                        "Case":  {
                                            "case":  "Confirm this activity to be legitimate or pre-approved",
                                            "actions":  {
                                                "Update_incident":  {
                                                    "runAfter":  {
                                                    },
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "body":  {
                                                            "classification":  {
                                                                "ClassificationAndReason":  "BenignPositive - SuspiciousButExpected",
                                                                "ClassificationReasonText":  "Closed by user's response in the automated email"
                                                            },
                                                            "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                            "owner":  "@items('For_each')?['properties']?['compromisedEntity']",
                                                            "ownerAction":  "Assign",
                                                            "severity":  "Medium",
                                                            "status":  "Closed",
                                                            "tagsToAdd":  {
                                                                "TagsToAdd":  [
                                                                    {
                                                                        "Tag":  "Closed by playbook automation as the user @{body('Get_manager_(V2)')?['displayName']} stated this activity to be legitimate or pre-approved"
                                                                    }
                                                                ]
                                                            },
                                                            "title":  "@triggerBody()?['object']?['properties']?['title']"
                                                        },
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "put",
                                                        "path":  "/Incidents"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_2":  {
                                            "case":  "Suspend the user account",
                                            "actions":  {
                                                "Send_an_email_(V2)":  {
                                                    "runAfter":  {
                                                    },
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "body":  {
                                                            "Body":  "\u003cp\u003eAs per the incident \u0026nbsp;\"@{triggerBody()?['object']?['properties']?['title']}\", the user @{body('Get_user_profile_(V2)')?['displayName']}'s account has been suspended for performing a malicious activity.\u003c/p\u003e",
                                                            "Subject":  "User account suspeneded",
                                                            "To":  "@{body('Get_user_profile_(V2)')?['mail']}@{body('Get_manager_(V2)')?['mail']}"
                                                        },
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['office365']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "post",
                                                        "path":  "/v2/Mail"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_3":  {
                                            "case":  "Escalate",
                                            "actions":  {
                                                "Update_incident_2":  {
                                                    "runAfter":  {
                                                    },
                                                    "type":  "ApiConnection",
                                                    "inputs":  {
                                                        "body":  {
                                                            "description":  "Please work on this incident on priority as the user has asked to escalate the case.",
                                                            "incidentArmId":  "@triggerBody()?['object']?['id']",
                                                            "owner":  "@items('For_each')?['properties']?['compromisedEntity']",
                                                            "ownerAction":  "Assign",
                                                            "severity":  "High",
                                                            "status":  "Active"
                                                        },
                                                        "host":  {
                                                            "connection":  {
                                                                "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                                            }
                                                        },
                                                        "method":  "put",
                                                        "path":  "/Incidents"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default":  {
                                        "actions":  {
                                        }
                                    },
                                    "expression":  "@body('Send_email_with_options')?['SelectedOption']",
                                    "type":  "Switch"
                                }
                            },
                            "runAfter":  {
                            },
                            "type":  "Foreach"
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            },
                            "office365users":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365usersConnectionName'))]",
                                "connectionName":  "[variables('Office365usersConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365users')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "identity":  {
                "type":  "SystemAssigned"
            },
            "tags":  {
                "hidden-SentinelTemplateName":  "MDCADataLeakTest",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('Office365usersConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365usersConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365usersConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365users')]"
                }
            }
        }
    ]
}
